.profile {
    height: 100%;
    background-color: red;
    border-radius: 10px;
    transition: ease-in 150ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500 !important;
    margin: 0;
    padding: 0;

}


.profile__title {
    margin: 0;
    display: block;
    color: white;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    text-decoration: none;
    transition: ease-in 150ms;
    font-weight: bold !important;
    font-family: 'Montserrat', 'sans-serif';
}

.profile__login-btn {
    display: block;
    color: white;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    text-decoration: none;
    transition: ease-in 150ms;
    font-weight: bold;


}

.profile__login-btn:hover {

    text-decoration: none;
    color: black;
}

.my-nav {

}

.my-login {
    color: #ff3838 !important;
}


.product-details {
    display: flex;
    margin: 50px 30px;
    padding: 50px 50px;
    border-radius: 20px;
    background-color: #ececec;
}

.product-details__image {
    width: 50%;
}

.product-details__image__image {
    width: 100%;
    border-radius: 20px;
}

.product-details__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    text-align: center;
}

.product-details__detail__name {

}

.product-details__detail__description {

}

.product-details__detail__price {

}

.product-details__detail__btn {
    width: 20%;
    margin: 0 auto;
    border: none;
    padding: 0;
    height: 30px;
    font-size: 14px;
    background-color: #e5e4e9;
    color: #da9f5b;
    border-radius: 15px;

}

.product-details__detail__btn:hover {
    background-color: #a9a9a9;
}

.product-details__detail__btn__link {
    width: 100%;
    display: block;
}

.product-details__detail__btn__link:hover {
    text-decoration: none;
}


.non-field-error {
    position: absolute;
    top: 90px;
    background-color: #ffaeae;
    padding: 10px 80px;
    border-radius: 25px;
    color: #b20000;
}


.non-field-error__text {

}